{% macro link_to(element, fqn=False) %}
    {% if element == '*' %}
        param array
    {% elif element.type_name == 'PrimitiveType' %}
        {% if fqn %}
            {{ element.fqn }}
        {% else %}
            {{ element.name }}
        {% endif %}
    {% else %}
        {% if fqn %}
            <a href="{{ paths.get_path(element) }}">{{ element.fqn }}</a>
        {% else %}
            <a href="{{ paths.get_path(element) }}">{{ element.name }}</a>
        {% endif %}
    {% endif %}
{% endmacro %}
{% macro method_params(method) %}
    (
    {% for param in method.parameters %}
        {% if not loop.first %}
            ,
        {% endif %}
        {{ link_to(param.type) }}
        {{ param.name }}
    {% endfor %}
    )
{% endmacro %}
<html>
    <head>
        <title>Documentation for interface {{ root.fqn }}</title>
        <style>
            html, body { background-color: white; }
            .TableHeadingColor     { background: #CCCCFF; color:#000000 } /* Dark mauve */
            .TableSubHeadingColor  { background: #EEEEFF; color:#000000 } /* Light mauve */
            .TableRowColor         { background: #FFFFFF; color:#000000 } /* White */
        </style>
    </head>
    <body>
        <h2><font size="-1">{{ root.namespace.fqn }}</font><br />Delegate {{ root.name }}</h2>
        <hr />
        <code>
            delegate
            {% if root.return_type %}
                {{ link_to(root.return_type.type) }}
                {% if root.return_type.iterable %}
                    []
                {% endif %}
            {% else %}
                void
            {% endif %}
            {{ root.name }}
            {{ method_params(root) }}
        </code>
        <br /><br />
        <dl>
            <dd>
                <p>{{ root.documentation.replace("\n\n", "</p><p>") }}</p>
            </dd>
        </dl>
        {% if root.has_children_of_type('DelegateParameter') %}
            <dl>
                <dt><b>Parameters:</b></dt>
                <dd>
                    <ul>
                        {% for param in root.parameters %}
                            {% if param.documentation %}
                                <li>
                                    {{ param.name }} &mdash; {{ param.documentation }}
                                    {% if param.nullable %}
                                        <i>Parameter can be used with null value.</i>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </dd>
            </dl>
        {% endif %}
        {% if root.return_type and (root.return_type.documentation or root.return_type.nullable) %}
            <dl>
                <dt><b>Returns:</b></dt>
                <dd>
                    {{ root.return_type.documentation }}
                    {% if root.return_type.nullable %}
                        <i>Return value can be null in some cases.</i>
                    {% endif %}
                </dd>
            </dl>
        {% endif %}
        {% if root.has_children_of_type('DelegateThrows') %}
            <dl>
                <dt><b>Throws:</b></dt>
                <dd>
                    <ul>
                        {% for throw in root.throws %}
                            {% if throw.documentation %}
                                <li>{{ link_to(throw.exception) }} &mdash; {{ throw.documentation }}</li>
                            {% else %}
                                <li>{{ link_to(throw.exception) }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </dd>
            </dl>
        {% endif %}
    </body>
</html>
